<!DOCTYPE html>
<html>
    <header>
	<title>Nguyen Thanh Tri | LinkedIn</title>
	 <meta charset="utf-8">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--Import Angularis-->
	<script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    
	<script src="js/script.js"></script>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
</header>

<body ng-app="linkedinapp" ng-controller="maincontroller">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<!--We start here-->
	
	<div class="backgroundholder">
		<img src="images/cover.jpg" alt="Cover">
	</div>
	
	<div class="contentholder">
		<div class="basicinformation row" data-ng-mouseover="overvieweditvisibility = true" data-ng-mouseleave="overvieweditvisibility = false">
            <a  class="editmode_basic editmode topsticky modal-trigger" data-target="overview_dialog" ng-show="overvieweditvisibility">
                <i class="material-icons">edit_mode</i>
            </a>
            
            <!-- Dialog Structure -->
            <div id="overview_dialog" class="modal modal-fixed-footer">
                <div class="modal-content">
                <h4>Overview information editor</h4>
                <form action="" class="col s12 overview_form_edit">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{overview.name}}" id="overview_name" type="text" ng-model="new_overview.name">
                            <label for="overview_name">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{overview.country}}" id="overview_country" type="text" ng-model="new_overview.country">
                            <label for="overview_country">Homeland</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{overview.headline}}" id="overview_headline" type="text" ng-model="new_overview.headline">
                            <label for="overview_headline">Headline</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{overview.role}}" id="overview_role" type="text" ng-model="new_overview.role">
                            <label for="overview_role">Role</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{overview.previous}}" id="overview_previous" type="text" ng-model="new_overview.previous">
                            <label for="overview_previous">Previous</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{overview.link}}" id="overview_link" type="text" ng-model="new_overview.link">
                            <label for="overview_link">Your homepage</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{overview.education}}" id="overview_education" type="text" ng-model="new_overview.education">
                            <label for="overview_education">Education</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{overview.faculty}}" id="overview_faculty" type="text" ng-model="new_overview.faculty">
                            <label for="overview_faculty">Faculty</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{overview.email}}" id="overview_email" type="text" ng-model="new_overview.email">
                            <label for="overview_email">email</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{overview.phone}}" id="overview_phone" type="text" ng-model="new_overview.phone">
                            <label for="overview_phone">phone</label>
                        </div>
                    </div>
        
                </form>
                </div>
                <div class="modal-footer">
                    <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="update_overview()">Confirm</a>
                    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
            
			<div class="avatarholder col s4">
				<img ng-src={{overview.profile_picture}} alt="Avatar">
			</div>
			<div class="informationholder col s8">
				<h4 id="name" data-ng-bind-html="overview.name">Nguyen Tri</h4>
				<h5 id="headline" data-ng-bind-html="overview.headline">Student at VNUHCM - University of Science</h5>
				<a href="#" id="country" data-ng-bind-html="overview.country">Vietnam</a>
				<a href="#">|</a>
				<a href="#" id="Faculty" data-ng-bind-html="overview.faculty">Information Technology and Services</a>
				<table class="contenttable">
					<col width="10%">
					<tr>
						<th><a href="#" id="previous" >Previous</a></th>
						<th><a href="#" id="previouscontent" data-ng-bind-html="overview.previous">SEA Guitar</a></th>
					</tr>
					<tr>
						<th><a href="#" id="education">Education</a></th>
						<th><a href="#" id="educationcontent" data-ng-bind-html="overview.education">VNUHCM - University of Science</a></th>
					</tr>
				</table>
			</div>
		</div>
        
        
        
        <div class="row contact" ng-hide="contactvisibility" ng-animate="'animate'">
                <span>Email:</span>
                <a href="#" data-ng-bind-html="overview.email"></a>
                <br>
                <span>Phone: </span>
                <a href="#" data-ng-bind-html="overview.phone"></a>
        </div>
        
        <div class="row showcontact">
                <div class="col s9 link">
                    <a href="#" data-ng-bind-html="overview.link"></a>
                </div>
                <div class="col s3 button">
                    <a class="waves-effect waves-light btn" ng-click="contactvisibility = !contactvisibility">Contact Info</a>
                </div>
        </div>
            
		<div class="backgroundcontent row">
			<div id="backgroundheader"><span>Background</span></div>
			<div class="list">
				<ul class="collection">
					<li class="collection-item avatar" data-ng-mouseover="summaryeditvisibility = true" data-ng-mouseleave="summaryeditvisibility = false">
						<i class="material-icons circle">list</i>
						<span class="title">Summary</span>
						<br>
                        <div ng-repeat="item in background.summary" class="summarydetail" repeat-done="initModals()">
                            <span >{{item.item}}</span>
                            <span> <a  class="editmode_basic editmode modal-trigger" data-target="summary_dialog" ng-show="summaryeditvisibility">
                            <i class="material-icons">edit_mode</i>
                            </a></span>
                            <br>
                        </div>
						<!--Summary Dialog Define-->
                        <div id="summary_dialog" class="modal">
                            <div class="modal-content">
                                <h4>Summary Item Edit</h4>
                                <p>{{current_item.item}}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>    
					</li>
						<li class="collection-item avatar">
						<i class="material-icons circle">assignment_ind</i>
						<span class="title">Experience</span>
                        <div class="expdetail" ng-repeat="item in background.experience">
                            <br>
                            <a href="#" class="itemtitle">{{item.role}}</a>
                            <a href="#" class="subtilte"><h6>{{item.company}}</h6></a>
                            <span class="date">{{item.from}} - {{item.to}} | {{item.at}}</span>
                            <br>
                            <span>{{item.do}}</span>
                        
                        </div>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle">perm_contact_calendar</i>
						<span class="title">Education</span>
						<br>
						<table>
							<tr ng-repeat="item in background.education">
								<td>
									<a href="#" class="itemtitle">{{item.school}}</a>
									<br>
									<span class="date">{{item.from}} - {{item.to}}</span>
								</td>
								<td style="text-align: right;">
									<img ng-src="{{item.logo}}" id="schoollogo" alt="US Logo">
								</td>
							</tr>
						</table>
						
						<div id="projectdropdown">
							<ul id="dropdown2" class="dropdown-content">
								<li ng-repeat="item in background.projects">
									<h6 class="itemtitle">{{item.name}}</h6>
								</li>
							</ul>
							<a class="btn dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons left">arrow_drop_down_circle</i>{{background.projects.length}} Project<i class="mdi-navigation-arrow-drop-down right"></i></a>
						</div>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle">language</i>
						<span class="title">Languages</span>
						<ul>
							<li ng-repeat="item in background.languages">
								<h5 class="itemtitle">{{item.name}}</h5>
							</li>
						</ul>
					</li>
                    
					<li class="collection-item avatar">
						<i class="material-icons circle">dashboard</i>
						<span class="title">Projects</span>
						<ul>
							<li ng-repeat="item in background.projects">
								<h5 class="itemtitle">{{item.name}}</h5>
								<span class="date">{{item.from}} - {{item.to}}</span>
								<br>
								<span class="detail">{{item.describe}}</span>
							</li>
						</ul>
					</li>
                    
                    <li class="collection-item avatar">
						<i class="material-icons circle">group</i>
						<span class="title">Skills</span>
						<ul>
							<li ng-repeat="item in background.skills">
								 <div class="chip">
                                    <span class="chipindex">{{item.index}}</span>
                                    {{item.name}}
                                </div>
                                <br>
							</li>
						</ul>
					</li>
                    
				</ul>
			</div>
		</div>
	</div>
   
    
</body>
</html>
